# Keil 生成的临时文件和编译文件
*.o
*.d
*.crf
*.htm
*.dep
*.lnp
*.sct
*.map
*.lst
*.hex
*.axf
*.log
*.log.lock
*.__i
*._ia
*.uvguix.*
*.uvoptx
*.uvprojx
Objects/
Listings/
DebugConfig/
MDK-ARM/main/
*.Administrator
*.bak

# CubeMX 备份文件
*.ioc.bak
